extends layout

block content
  article.post-wrap
    header
      h2 About Me
    div.post-meta
      span Kyle Knight : JavaScript, Ruby, &amp; PHP Developer

    div.post-content
      img#avatar(src="/img/idpro_wink.jpg")
      :markdown
        Hello. I'm Kyle Knight and I'm a code junkie.

        A frontend developer with a passion for real(-ish) time development and an agnostic view on backend languages.

        From PSD to HTML or full scale dynamic applications, I'm always up for a challenge.

        Outside of writing code, I'm spending time in my garage, wrist deep in grease, modifying or fixing something on my motorcycle. That or, spending time with my wife, sitting around a bon-fire, drinking a Bud Select, or finding a place to go on a road trip.

        During the day, I can sometimes be found working in our loft office at [The Able Few](http://theablefew.com/) in downtown St. Louis.