!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title Kyle Knight's Blargh

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='/css/default.css')
    script(src='/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')

  body
    //if lt IE 7
      p.chromeframe.
        You are using an outdated browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> or
        <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a>
        to improve your experience.

    .wrapper
      header
        h1#logo
          a(href="/") KKnight<span>.pro</span>

        div#quote
          p A frontend developer with a passion for real(-ish) time development and an agnostic view on backend languages.

        nav
          ul#main
            li
              a(href="/about-me") About Me
            li
              a(href="/portfolio") Portfolio
            li
              a(href="/contact-me") Contact Me
          ul#social
            li.github
              a(href="http://github.com/idpro") GitHub
            li.gplus
              a(href="https://plus.google.com/114588655259468960497") Google Plus
            li.twitter
              a(href="https://twitter.com/idpro") Twitter
            li.coderwall
              a(href="https://coderwall.com/idpro") Coderwall

      section#content
        block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\\/script>')
    script(src='/js/main.js')

    script
      var _gaq=[['_setAccount','UA-2244674-8'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));