extends layout

block content
  article.post-wrap
    header
      h2 Portfolio
    div.post-meta
      span Coming Soon...

    div.post-content
      :markdown
        Relevant Information Contained Within