/* line 2, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MuseoSlab-500';
  src: url("../fonts/267D86_0_0.eot");
  src: url("../fonts/267D86_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/267D86_0_0.woff") format("woff"), url("../fonts/267D86_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Asap';
  src: url("../fonts/Asap-Bold.eot");
  src: url("../fonts/Asap-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Asap-Bold.woff") format("woff"), url("../fonts/Asap-Bold.ttf") format("truetype"), url("../fonts/Asap-Bold.svg#Asap-Bold") format("svg");
}

/* line 5 */
body {
  background-color: #e9f0f4;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 12 */
p {
  margin: 0 0 10px;
}

/* line 13 */
a {
  color: #a8bd44;
  text-decoration: none;
}
/* line 16 */
a:hover {
  color: #f97e76;
}

/* line 19 */
.wrapper {
  width: 960px;
  margin: 0 auto;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
.wrapper:after {
  clear: both;
}

/* line 25 */
header {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin: 24px 0;
}
/* line 54, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/neat/grid/_span-columns.scss */
header:last-child {
  margin-right: 0;
}
/* line 28 */
header #logo {
  float: left;
  margin: 0 15px 10px 0;
  font-family: 'MuseoSlab-500';
  font-size: 41px;
  font-weight: normal;
  width: 175px;
  height: 50px;
}
/* line 36 */
header #logo a {
  text-decoration: none;
  text-align: right;
  color: #2e3641;
}
/* line 40 */
header #logo a span {
  font-size: 24px;
  display: block;
  color: #f97e76;
  margin-top: -18px;
}
/* line 48 */
header nav {
  float: left;
  width: 770px;
  background-color: #fff;
  height: 50px;
}
/* line 53 */
header nav ul#main {
  float: left;
  list-style: none;
  margin: 16px 0 0;
  padding: 0 24px;
}
/* line 58 */
header nav ul#main li {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 32px 0 0;
}
/* line 63 */
header nav ul#main li a {
  color: #c1cfd9;
  text-decoration: none;
}
/* line 67 */
header nav ul#main li a:hover, header nav ul#main li a:active {
  color: #f97e76;
}
/* line 71 */
header nav ul#social {
  float: right;
  margin: 7px 0 0;
  padding: 0 7px;
}
/* line 75 */
header nav ul#social li {
  float: left;
  margin: 0 0 0 4px;
}
/* line 78 */
header nav ul#social li.github {
  background-color: #4183c4;
}
/* line 80 */
header nav ul#social li.github a {
  background: url("/img/social-github.png") no-repeat center center;
}
/* line 82 */
header nav ul#social li.gplus {
  background-color: #d14836;
}
/* line 84 */
header nav ul#social li.gplus a {
  background: url("/img/social-gplus.png") no-repeat center center;
}
/* line 86 */
header nav ul#social li.twitter {
  background-color: #39a9e0;
}
/* line 88 */
header nav ul#social li.twitter a {
  background: url("/img/social-twitter.png") no-repeat center center;
}
/* line 90 */
header nav ul#social li.coderwall {
  background-color: #3e8dcc;
}
/* line 92 */
header nav ul#social li.coderwall a {
  background: url("/img/social-coderwall.png") no-repeat center center;
}
/* line 94 */
header nav ul#social li a {
  display: block;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  width: 36px;
  height: 36px;
}
/* line 103 */
header #quote {
  display: none;
}

/* line 108 */
#content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0 0 24px;
}
/* line 54, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/neat/grid/_span-columns.scss */
#content:last-child {
  margin-right: 0;
}
/* line 111 */
#content .post-wrap {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 75px;
}
/* line 18, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
#content .post-wrap:before, #content .post-wrap:after {
  content: " ";
  display: table;
}
/* line 23, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/bourbon/addons/_clearfix.scss */
#content .post-wrap:after {
  clear: both;
}
/* line 115 */
#content .post-wrap header {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2e3641;
  height: 55px;
}
/* line 54, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/neat/grid/_span-columns.scss */
#content .post-wrap header:last-child {
  margin-right: 0;
}
/* line 121 */
#content .post-wrap header h2 {
  margin: 14px 0 0 24px;
  padding: 0;
  font-size: 24px;
  font-family: 'Asap';
  font-weight: normal;
  color: #e9f0f4;
}
/* line 128 */
#content .post-wrap header h2 a {
  color: #e9f0f4;
  text-decoration: none;
}
/* line 133 */
#content .post-wrap header span.date {
  color: #878787;
  font-size: 11px;
}
/* line 139 */
#content .post-wrap .post-meta {
  background-color: #c3d1da;
  height: 35px;
  clear: left;
}
/* line 143 */
#content .post-wrap .post-meta span {
  display: block;
  font-family: 'Asap';
  font-size: 16px;
  color: #2e3641;
  padding: 8px 24px 0 24px;
}
/* line 149 */
#content .post-wrap .post-meta span a {
  text-decoration: none;
  color: #2e3641;
}
/* line 152 */
#content .post-wrap .post-meta span a:hover {
  text-decoration: underline;
}
/* line 153 */
#content .post-wrap .post-meta span a:not(:last-child):after {
  content: ", ";
}
/* line 155 */
#content .post-wrap .post-meta span.tags {
  text-align: center;
}
/* line 156 */
#content .post-wrap .post-meta span.category {
  float: left;
}
/* line 157 */
#content .post-wrap .post-meta span.date {
  float: right;
}
/* line 161 */
#content .post-wrap .post-content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  padding: 12px 24px;
}
/* line 54, /Users/kknight/Sites/kknight.pro/app/assets/stylesheets/neat/grid/_span-columns.scss */
#content .post-wrap .post-content:last-child {
  margin-right: 0;
}
/* line 165 */
#content .post-wrap .post-content h2, #content .post-wrap .post-content h3, #content .post-wrap .post-content h4, #content .post-wrap .post-content h5 {
  font-size: 1.3em;
  font-family: 'Asap';
  color: #2e3641;
}
/* line 170 */
#content .post-wrap .post-content p {
  font-size: 13px;
  color: #000;
  line-height: 18px;
}
/* line 174 */
#content .post-wrap .post-content p .read-more {
  background-color: #f97e76;
  float: right;
  color: #fff;
  text-decoration: none;
  font-family: 'Asap';
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
}
/* line 186 */
#content .post-wrap .post-content p .read-more:hover, #content .post-wrap .post-content p .read-more:active {
  text-decoration: underline;
}
/* line 189 */
#content .post-wrap .post-content pre {
  border-radius: 5px;
  color: #3d444e;
  display: block;
  font-family: 'Anonymous Pro', Consolas, monospace;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 19px;
  margin: 0 0 20px;
  padding: 15px 20px;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
  white-space: pre-wrap;
  page-break-inside: avoid;
}
/* line 208 */
#content ul.pagination {
  padding: 0;
  margin: 0;
}
/* line 211 */
#content ul.pagination li {
  float: left;
  list-style: none;
  font-size: 24px;
  line-height: 24px;
  margin: 0 10px 0 0;
}
/* line 217 */
#content ul.pagination li a {
  background-color: #c1cfd9;
  display: block;
  width: 44px;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
/* line 225 */
#content ul.pagination li a:hover {
  background-color: #9eb2c0;
}
/* line 228 */
#content ul.pagination li.active a {
  background-color: #2e3641;
}
