@font-face {
  font-family: 'MuseoSlab-500';
  src: url('../fonts/267D86_0_0.eot');
  src: url('../fonts/267D86_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/267D86_0_0.woff') format('woff'),
       url('../fonts/267D86_0_0.ttf') format('truetype');
}
